In [4]:
""" 
Output -

'pankaj' - 425
'prachi'- 700
'ankit'- 400

"""


student = {
    'pankaj': {
        'roll_number':420,
        'gender':"Male",
        'physics': 98,
        "chemistry": 88,
        "Maths": 78,
        "Computer": 94
    },

    'prachi' : {
        'roll_number':421,
        'gender':"Female",
        'physics': 99,
        "chemistry": 98,
        "Maths": 98,
        "Computer": 97
    },

    'ankit': {
        'roll_number':422,
        'gender':"Male",
        'physics': 88,
        "chemistry": 98,
        "Maths": 38,
        "Computer": 44
    }

}

In [9]:
print(type(student['pankaj']))

<class 'dict'>

In [10]:
total_marks = student['pankaj']['physics']+ student['pankaj']['chemistry']+ student['pankaj']['Maths']+student['pankaj']['Computer']
total_marks

358

In [24]:
for k, val in student.items():
    total_marks = val["physics"]+ val["Maths"]+val["chemistry"]+val["Computer"]
    gender = val['gender']
    print(f"{k} -> {total_marks} has {gender} as a gender")

pankaj -> 358 has Male as a gender
prachi -> 392 has Female as a gender
ankit -> 268 has Male as a gender

In [46]:
# new question 

student_data = {

    "pankaj": {
        "roll_number": 420,
        "gender":"Male",
        "marks": [78,88,98,48,68]
    },
    
    "prachi": {
        "roll_number": 421,
        "gender":"Female",
        "marks": [98,98,99,97,98]
    }
    
    }

In [47]:
total = 0

for name, details in student_data.items():
    # total_marks = [i+i for i in details['marks']]
    # print(total_marks)
    for mark in details['marks']:
        total = total+ mark

print(total)

870

In [72]:
student_data = {

    "pankaj": {
        "roll_number": 420,
        "gender":"Male",
        "marks": [78,88,98,28,68]
    },
    
    "prachi": {
        "roll_number": 421,
        "gender":"Female",
        "marks": [98,98,99,97,98]
    }
    
    }

for name, details in student_data.items():
    total = sum(details['marks'])
    
    print(total)

360
490

In [73]:
for name, detail in student_data.items():

    total_marks = sum(detail['marks'])
    print(f"{name} got {total_marks} as total marks")

pankaj got 360 as total marks
prachi got 490 as total marks

In [74]:
#advanced question, same above question solve it without using the sum function

In [79]:
for name, detail in student_data.items():
    print(name)
    mark = detail['marks']
    total= 0
    for element in mark:
        total = total+ element
    
    print(total)

pankaj
360
prachi
490

In [57]:
# dictionary in dictionary in dictionary 

student_data = {

    "pankaj": {
        "roll_number": 420,
        "gender":"Male",
        "marks": {
            'physics':78,
            "chemistry":88,
            "maths":98,
            "computer":28,
            "English":68}
    },
    
    "prachi": {
        "roll_number": 421,
        "gender":"Female",
        "marks": {
            'physics':98,
            "chemistry":88,
            "maths":96,
            "computer":10,
            "English":99
            
            }
    }
    
    }

In [69]:
for name,details in student_data.items():
    # print(name)
    # print(details['marks'])

    total_marks= details['marks']['physics']+details['marks']['chemistry']+details['marks']['maths']+details['marks']['computer']+details['marks']['English']

    print(f"The total marks obtained by {name} is {total_marks}")

The total marks obtained by pankaj is 360
The total marks obtained by prachi is 391

In [ ]:
for name,details in student_data.items():
    # print(name)
    # print(details['marks'])

    total_marks= details['marks']['physics']+details['marks']['chemistry']+details['marks']['maths']+details['marks']['computer']+details['marks']['English']

    print(f"The total marks obtained by {name} is {total_marks}")