In [5]:
dic = {
    "Name" : "Pankaj",
    12: [55,22,6589],
    256.36 : "Singh",
    (32,26): "abcd"
    }
dic

{'Name': 'Pankaj', 12: [55, 22, 6589], 256.36: 'Singh', (32, 26): 'abcd'}

## Get and Add/ Remove / update key-vlaues

In [3]:
dic = {
    "Name" : "Pankaj",
    "age":27,
    "last_name": "Singh"
    }
print(dic)

{'Name': 'Pankaj', 'age': 27, 'last_name': 'Singh'}

In [4]:
print(dic['age'])
print(dic["last_name"])
print(dic["Name"])

27
Singh
Pankaj

In [13]:
# methods 
r= dic.get('Name')
print(r)

Pankaj

In [14]:
r= dic.get('Naame')
print(r)

None

In [15]:
print(type(r))

<class 'NoneType'>

In [19]:
""" question - ask a key from the use and if the key exists in the dictionary 
and if it does not exist , return - The key does not exist

"""

k = input("Enter the key:")

for key, value in dic.items():
    if key == k:
        print(value)
        break
    else:
        print("The key you have entered does not exists please verify")
        break

The key you have entered does not exists please verify

In [23]:
# using the .get method 

k = input("Enter the key, whose value you want to extract")

result= dic.get(k)

if result is not None:
    print(result)
else:
    print("The key you have entered does not exists, please verify")

Singh

In [5]:
dic['age']

27

In [8]:
# update the values 
dic['age'] = 17
dic

{'Name': 'Pankaj', 'age': 17, 'last_name': 'Singh'}

In [9]:
## update method 

## the .update method requires dictionary to take the parameters
dic.update({'status':'single','occupation':"AI-Engineer"})
dic

{'Name': 'Pankaj',
 'age': 17,
 'last_name': 'Singh',
 'status': 'single',
 'occupation': 'AI-Engineer'}

In [10]:
# remove from dictionary
# del & pop

del dic['age']
dic

{'Name': 'Pankaj',
 'last_name': 'Singh',
 'status': 'single',
 'occupation': 'AI-Engineer'}

In [11]:
del dic # deleted the dictionary and will egt the error 
dic

NameError: name 'dic' is not defined

In [19]:
# the pop method uses the key 

dic= {'Name': 'Pankaj',
 'age': 17,
 'last_name': 'Singh',
 'status': 'single',
 'occupation': 'AI-Engineer'}

dic

{'Name': 'Pankaj',
 'age': 17,
 'last_name': 'Singh',
 'status': 'single',
 'occupation': 'AI-Engineer'}

In [13]:
dic.pop("age")
dic

{'Name': 'Pankaj',
 'last_name': 'Singh',
 'status': 'single',
 'occupation': 'AI-Engineer'}

In [14]:
dic.pop()

TypeError: pop expected at least 1 argument, got 0

In [21]:
#popitem

#pop item does not takes any argument and return the key value pair of the last item of the dictionary as a tuple

dic.popitem()
dic

{'Name': 'Pankaj', 'age': 17, 'last_name': 'Singh', 'status': 'single'}

In [22]:
dic.popitem()
dic

{'Name': 'Pankaj', 'age': 17, 'last_name': 'Singh'}

## Iterating key- Values

In [2]:
dic = {'Name': 'Pankaj',
 'last_name': 'Singh',
 'status': 'single',
 'occupation': 'AI-Engineer'}

In [3]:
# using simple .keys method
# the method returns a data-structure of the dict_keys
keys= dic.keys()
keys

dict_keys(['Name', 'last_name', 'status', 'occupation'])

In [4]:
# using for loop 
for keys in dic.keys():
    print(keys)

Name
last_name
status
occupation

In [5]:
# extracting the values using .keys()

for key in dic.keys():
    print(dic[key])

Pankaj
Singh
single
AI-Engineer

In [3]:
# print only the keys from the dictionary  

#1 - For loop and .items() method
for key, value in dic.items():
    print(key)

Name
last_name
status
occupation

dict_keys(['Name', 'last_name', 'status', 'occupation'])

In [7]:
type(keys)

dict_keys

In [10]:
key= [i for i in dic.keys()]
print(key)

['Name', 'last_name', 'status', 'occupation']

In [6]:
value = [v for v in dic.values()]
value

['Pankaj', 'Singh', 'single', 'AI-Engineer']

In [13]:
subject= {
    "history": 37,
    "Maths":55,
    "English":59,
    "Science": 66
    }

# I need to find the total marks obtained

In [14]:
total = 0

for key in subject.keys():
    total = total + subject[key]

print(f'The total marks obtained is {total}')

The total marks obtained is 217

In [16]:
total_marks = 0

for value in subject.values():
    # print(value)

    total_marks = total_marks + value 

print(total_marks)

217

In [19]:
""" 
output -
Name -> Pankaj
last_name -> Singh
status -> single 
occupation -> AI-Engineer 

"""

' \noutput -\nName -> Pankaj\nlast_name -> Singh\nstatus -> single \noccupation -> AI-Engineer \n\n'

In [20]:
dic = {'Name': 'Pankaj',
 'last_name': 'Singh',
 'status': 'single',
 'occupation': 'AI-Engineer'}

var = '->'

for key, value in dic.items():
    print(key + var + value)

Name->Pankaj
last_name->Singh
status->single
occupation->AI-Engineer

In [26]:
for key,value in dic.items():
    print(f"{key} -> {value}")

Name -> Pankaj
last_name -> Singh
status -> single
occupation -> AI-Engineer

In [24]:
l = [(key, value) for (key, value) in dic.items()]
l

[('Name', 'Pankaj'),
 ('last_name', 'Singh'),
 ('status', 'single'),
 ('occupation', 'AI-Engineer')]

In [25]:
l= [(f"{key}->{value}") for (key, value) in dic.items()]
print(l)

['Name->Pankaj', 'last_name->Singh', 'status->single', 'occupation->AI-Engineer']