In [1]:
# convert the string into a list

a = "hello this is string function of splitting"

b = a.split(" ")
b

['hello', 'this', 'is', 'string', 'function', 'of', 'splitting']

In [2]:
# joining 

my_list= ["arjun", "is", "a", "data","-","scientist"]

b= " ".join(my_list)
b

'arjun is a data - scientist'

In [4]:
my_list= ["arjun", "is", "a", "data","-","scientist", "and", "he",'is', '26', "years", "old"]
my_list

['arjun',
 'is',
 'a',
 'data',
 '-',
 'scientist',
 'and',
 'he',
 'is',
 '26',
 'years',
 'old']

In [5]:
b= " ".join(str(char) for char in my_list)

In [6]:
b

'arjun is a data - scientist and he is 26 years old'

In [7]:
# reversing each word within the list 
c= " ".join(str(char)[::-1] for char in my_list)
c

'nujra si a atad - tsitneics dna eh si 62 sraey dlo'